<mat-card class="wrapper" *ngIf="!showSpinner else loader">
  <mat-card-header>
    <mat-card-title>
      {{movie.title}}
    </mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip *ngFor="let genre of movie.genres">{{genre.name}}</mat-chip>
        <ngb-rating [(rate)]="movie.currentUserFeedback.rate" (rateChange)="onRateChange($event)"></ngb-rating>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <form [formGroup]="form" (ngSubmit)="addComment()">
            <mat-form-field>
              <textarea matInput placeholder="Komentarz" formControlName="description"></textarea>
            </mat-form-field>
            <button type="submit" class="btn btn-outline-secondary">
              Dodaj komentarz
            </button>
          </form>
        </div>
        <div class="row">
          <div *ngIf="movie.comments.length > 0" class="col-6 my-3">
            <ng-container *ngFor="let comment of movie.comments">
              <div class="card my-2" style="max-width: 25vw">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          {{comment.user.fullName}}
                        </div>
                        <div class="col">{{comment.updatedAt | date:'short'}}</div>
                        <div class="col">
                          <mat-icon style="cursor: pointer;" (click)="toggleEdit(comment.id)">edit</mat-icon>
                          <mat-icon style="cursor: pointer;" *appRoleDirective="'admin'" color="warn"
                                    (click)="delete(comment.id)">delete
                          </mat-icon>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col" *ngIf="!copyComment || copyComment.id !== comment.id">
                          {{comment.description}}
                        </div>
                        <div *ngIf="copyComment && copyComment.id === comment.id" class="col d-flex align-items-center">
                          <mat-form-field>
                            <textarea matInput [(ngModel)]="description" placeholder="Comment"></textarea>
                          </mat-form-field>
                          <button type="submit" (click)="update()" class="btn btn-outline-success ml-2">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <ng-container *appRoleDirective="'admin'">
      <button class="btn btn-outline-danger" (click)="deleteMovie()">Delete movie</button>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #loader>
  <mat-spinner color="accent" mode="indeterminate" *ngIf="showSpinner"></mat-spinner>
</ng-template>
