<mat-card class="wrapper">
  <mat-card-header>
    <mat-card-title>
      Choose action
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-title>
        Movie panel
      </mat-card-title>
      <mat-card-footer>
        <mat-card-actions>
          <a [routerLink]="['/app','movie','create']">Add movie</a>
          <a [routerLink]="['/app','admin','movie','edit']">Edit movie</a>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </mat-card-content>
</mat-card>
